{% extends "layout.html" %}
{% block title %}
This is mysite title
{% endblock %}
{% block content %}
<h1 class = "bg-orange-500 text-3xl text-center">This is mysite content</h1>
<div class = "grid grid-cols-3 gap-4 m-4 bg-slate-200">
{% for chai in chais %}
 
<div class = "bg-blue-600">
   
    <img class = "rounded" src="{{ chai.image.url }}" alt="{{ chai.name }}">
    <h2 class ="text-white text-center" > Chai Name: {{ chai.name }}</h2>
    <h3 class = "text-white font-serif"> Chai Type: {{ chai.get_chai_type_display }}</h3>
    <p class = 'text-white font-bold'> {{chai.description}} </p>
    <a href="{% url 'chai_detail' chai.id %}">
      <button class = "bg-orange-500  w-full">
        {{chai.chai_type}} - {{chai.id}}
      </button>

    </a>
</div>
            
{% endfor %}
</div>
{% endblock %}




